body{
    position: relative;
}

.pop-up{
    display: none;
    flex-direction: column;
    width: 360px;
    height: 256px;
    background-color:#fff;
    z-index: 1000;
    position: absolute;
    top: 110px;
    right: 5%;
    box-shadow: -1px 31px 14px 1px hsl(220, 14%, 75%, 0.28);
    border-radius: 15px;
    padding: 1.5rem;
}

.cart-popUp{
    width: 100%;
    height: 15%;
    text-align: left top;
}

.cart-popUp p, .product-cart p{
    font-size: 1rem;
    font-weight: bold;
}

.product-cart{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 85%;
    flex-direction: column;
    border-top: 1px solid #E4E9F2;
}

.contentCartActivated{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
}

.imageCartActivated{
    width: 15%;
    border-radius: 4px;
}
.imageCartActivated img{
    border-radius: 4px;
}


.productDetailsCartActivated{
    width: 80%;
    margin-left: 1rem;
}

.deleteCartActivated{
    width: 5%;
}

.btn-checkout-cart{
    text-align: center;
    width: 100%;
    padding: 1rem 0 1rem 0;
    background-color: var(--Orange);
    color: var(--Very-dark-blue);
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1020px){
    .pop-up{
        right:unset;
        width: 300px;
        height: 216px;
    }
}

@media screen and (max-width: 540px){
    .pop-up{
        width: 300px;
        height: 236px;
    }
}