*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Colors */

:root{

    /* Primary */

--Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);

 /* Neutral */

--Very-dark-blue: hsl(220, 13%, 13%);
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
--Light-grayish-blue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);

/* with 75% opacity for lightbox background */
--Black: hsl(0, 0%, 0%);
}

body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    font-family: "Kumbh Sans", serif;
    color: var(--Dark-grayish-blue);
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 77%;
    height: 100px;
    margin-top: 1.8rem;
}

.brand-name{
    width: 20%;
}
nav{
    display: none;
}
.icon-open{
    display: none;
}

.pages{
    width: 40%;
    height: 100%;
}

ul{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

li{
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

li::after{
    content: '';
    display: block;
    width: 0;
    height: 2.5rem;
    border-bottom: 2px solid var(--Orange);
    transition: width .3s;
}
li:hover:after{
    width:100%;
    color: var(--Dark-grayish-blue);
}

.customer-details{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;

}

.cart{
    margin-right:3rem;
    cursor: pointer;
}

.cart img{
    width: 1.3rem;
    height:  1.3rem;
}

.profile-img img{
    border-radius: 50%;
    width: 3.1rem;
    height:3.1rem;
    cursor: pointer;
}
.profile-img img:hover{
    border: 2px solid var(--Orange)
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 71%;
    height: 84%;  
    border-top: 2px solid black;
    padding: 5rem 2.5rem 0 2.5rem;

}

.item-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98%;
    width: 43.5%;
}

.btn-toggle-mobile{
    display:none;
}

.product-img{
    height: 78%;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 15px;

}

.product-img img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.toggle-images{
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    border-radius: 10px;
}

.toggle-images img{
    height: 100%;
    width: 20%;
    border-radius: 10px;
    cursor: pointer;
}


.toggle-images img:hover{
    border: 2px solid var(--Orange);
    opacity: 65%;
}
.item-description{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 78%;
    width: 43.5%;
    padding: 3.5rem 0 3.5rem 0;
}

.company-name{
    font-size: 1rem;
    font-weight: bold;
    color: var(--Dark-grayish-blue);
    margin-bottom: 2rem;
}

h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--Very-dark-blue);
    margin-bottom: 2rem;
}

.product-description{
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 26px;
}

.product-price{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 4rem;
    margin-bottom: 2.5rem;
    width: 100%;
}

.price-plus-discount{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.price-plus-discount h2{
  color: var(--Very-dark-blue);
  font-size: 1.8rem;
  font-weight: bold;
 }

.price-plus-discount p{
   background-color: var(--Very-dark-blue);;
   color: var(--White);
   padding: 0.3rem 0.6rem 0.3rem 0.6rem;
   border-radius: 8px;
   margin-left: 1.5rem;

}

.price-total{
    font-size: 1rem;
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
    font-weight: bold;
}

.add-products{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 3.5rem;
    width: 100%;
}

.increment-decrement-products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    height: 100%;
    background-color: var(--Light-grayish-blue);
    border-radius: 10px;
}

.increment-decrement-products button{
    background-color: var(--Light-grayish-blue);
    cursor: pointer;
}

.add-cart{
    width: 61%;
    height: 100%;
    background-color: var(--Orange);
    color: var(--Very-dark-blue);
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.add-cart:hover{
    background-color: var(--Pale-orange);
}

.add-cart img{
    width: 1rem;
    height: 1rem;
    padding-right:1rem;
}

@media screen and (max-width: 1020px){
    header{
        height: 56px;
        /* When Nav is actived change the justify-content: to flex-start; */
        justify-content:space-between; 
    }

    .icon-open{
        display: flex;
        width: 6%;
    }
    .brand-name {
        width: 50%;
    }
    .customer-details{
        width: 30%;
    }
    .pages{
       display: none;
       position: relative;
    }

    .cart{
        margin-right:1rem;
    }
    
    .cart img{
        width: 1.4rem;
        height: 1.4rem;
    }
    
    .profile-img img{
        width: 2rem;
        height: 2rem;
    }

    nav{
        display: none;
        justify-content: flex-start;
        align-items: flex-start;
        width: 80%;
        height: 100%;
        z-index: 99999;
        position: absolute;
    }

    .nav-content{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 70%;
        height: 100%;
        background-color: var(--White);
    }
    .icon-close{
        width: 100%;
        height: 5%;
        margin-top: 1.5rem;
        
    }
    nav ul{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 210px;
        background-color: var(--White);
    }

    .empty{
        height: 100%;
        width: 30%;
        background-color:var(--Black);
        opacity: 75%;
    }

    main, .description{
        flex-direction: column;
        width:77%;
        padding: 0;
        border: 0;
    }
    main{
        margin-bottom: 5rem;
    }

    .item-image{
        width: 100%;
        position: relative;
    }

    .btn-toggle-mobile{
        display:block;
        position: absolute;
        transform: translate(-50%, -50%); 
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    
    #previous-btn-mobile{
        left: 10%;
    }
    
    #next-btn-mobile{
        right: 0;
    }
    
    .product-img, .product-img img{
        border-radius: 0;
    }
    .toggle-images{
        display: none;
    }
    .item-description{
        width: 100%;
        padding: 0;
    }

    .company-name{
        font-size: 0.8rem;

    }
    
    h1{
        font-size: 1.5rem;
    }

    .product-price{
        flex-direction: row;
        align-items: center;
    }

    .add-products{
        flex-direction: column;
    }

    .add-products{
        height: 132px;
        width: 100%;
    }
    .increment-decrement-products{
        height: 45%;
        width: 100%;
    }

    .add-cart{
        box-shadow: -1px 31px 14px 1px rgba(255,126,27,0.28);
        height: 45%;
        width: 100%;
    }
}